html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Mukta', sans-serif;
  background: linear-gradient(to right, #ddd6f3, #faaca8)
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-ExtraLight.ttf");
  font-style: extra-light;
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-Light.ttf");
  font-style: light;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-Regular.ttf");
  font-style: regular;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-SemiBold.ttf");
  font-style: semi-bold;
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-Bold.ttf");
  font-style: bold;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: "Mukta";
  src: url("/fonts/Mukta/Mukta-ExtraBold.ttf");
  font-style: semi-bold;
  font-weight: 800;
  font-display: swap;
}